
# Fuerza el uso de LF como fin de línea en todos los archivos de texto
* text=auto eol=lf

# Archivos específicos (opcional)
*.sh text eol=lf
*.ts text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
